<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>Dashboard_LecturerServlet</servlet-name>
        <servlet-class>com.fyp.controller.login.Dashboard_LecturerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>com.fyp.Login.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddLecturerDao</servlet-name>
        <servlet-class>com.fyp.model.Dao.login.AddLecturerDao</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddLecturerDAO</servlet-name>
        <servlet-class>com.fyp.Admin.LecturerList.AddLecturerDAO</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddLecturerServlet</servlet-name>
        <servlet-class>com.fyp.Admin.LecturerList.AddLecturerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LecturerServlet</servlet-name>
        <servlet-class>com.fyp.Student.SubmitProposalSV.LecturerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProposalSvServlet</servlet-name>
        <servlet-class>com.fyp.Student.SubmitProposalSV.ProposalSvServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Scope</servlet-name>
        <servlet-class>com.fyp.model.bean.Scope</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Proposal</servlet-name>
        <servlet-class>com.fyp.model.bean.Proposal</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LectureListDAO</servlet-name>
        <servlet-class>com.fyp.LectureList.LectureListDAO</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LecturerListDAO</servlet-name>
        <servlet-class>com.fyp.Admin.LecturerList.LecturerListDAO</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LecturerListServlet</servlet-name>
        <servlet-class>com.fyp.Admin.LecturerList.LecturerListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LecturerDeleteServlet</servlet-name>
        <servlet-class>com.fyp.Admin.LecturerList.LecturerDeleteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditLecturerServlet</servlet-name>
        <servlet-class>com.fyp.Admin.LecturerList.EditLecturerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateLecturerServlet</servlet-name>
        <servlet-class>com.fyp.Admin.LecturerList.UpdateLecturerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddScopeServlet</servlet-name>
        <servlet-class>com.fyp.Scope</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddScopeDAO</servlet-name>
        <servlet-class>com.fyp.Admin.Scope.AddScopeDAO</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListScopeServlet</servlet-name>
        <servlet-class>com.fyp.Admin.Scope.ListScopeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertScopeServlet</servlet-name>
        <servlet-class>com.fyp.Admin.Scope.InsertScopeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditScopeForm</servlet-name>
        <servlet-class>com.fyp.Admin.Scope.EditScopeForm</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExaminerServlet</servlet-name>
        <servlet-class>com.fyp.Admin.ExaminerList.ExaminerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExaminerListServlet</servlet-name>
        <servlet-class>com.fyp.Admin.ExaminerList.ExaminerListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PastProject</servlet-name>
        <servlet-class>com.fyp.model.bean.PastProject</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowAddForm</servlet-name>
        <servlet-class>com.fyp.Admin.PastReport.ShowAddForm</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddPastReportDAO</servlet-name>
        <servlet-class>com.fyp.Admin.PastReport.AddPastReportDAO</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddPastReportServlet</servlet-name>
        <servlet-class>com.fyp.Admin.PastReport.AddPastReportServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListPastReport</servlet-name>
        <servlet-class>com.fyp.Admin.PastReport.ListPastReport</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StudentDAO</servlet-name>
        <servlet-class>com.fyp.model.user.StudentDAO</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StudentListServlet</servlet-name>
        <servlet-class>com.fyp.Student.StudentList.StudentListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>supervision</servlet-name>
        <servlet-class>fyp.supervision</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Supervision</servlet-name>
        <servlet-class>com.fyp.model.bean.Supervision</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SupervisionDAO</servlet-name>
        <servlet-class>com.fyp.model.user.SupervisionDAO</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SupervisionList</servlet-name>
        <servlet-class>com.fyp.Student.StudentList.SupervisionList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AcceptProposalServlet</servlet-name>
        <servlet-class>com.fyp.Supervisor.RequestSv.AcceptProposalServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RejectProposalServlet</servlet-name>
        <servlet-class>com.fyp.Supervisor.RequestSv.RejectProposalServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewProposalServlet</servlet-name>
        <servlet-class>com.fyp.Supervisor.RequestSv.ViewProposalServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteProposalServlet</servlet-name>
        <servlet-class>com.fyp.Student.SubmitProposalSV.DeleteProposalServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StudentPastReportServlet</servlet-name>
        <servlet-class>com.fyp.Student.PastReport.StudentPastReportServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ScopeServlet</servlet-name>
        <servlet-class>com.fyp.Student.Scope.ScopeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserProfileServlet</servlet-name>
        <servlet-class>com.fyp.UserProfile.UserProfileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PastReportServlet</servlet-name>
        <servlet-class>com.fyp.Supervisor.PastReport.PastReportServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ScopeSvServlet</servlet-name>
        <servlet-class>com.fyp.Supervisor.ScopeSV.ScopeSvServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowAddPastReport</servlet-name>
        <servlet-class>com.fyp.Supervisor.PastReport.ShowAddPastReport</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddPastRepostSupervisor</servlet-name>
        <servlet-class>com.fyp.Supervisor.PastReport.AddPastReportSupervisor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowAddScopeFormSupervisor</servlet-name>
        <servlet-class>com.fyp.Supervisor.ScopeSV.ShowAddScopeFormSupervisor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertScopeSupervisorServlet</servlet-name>
        <servlet-class>com.fyp.Supervisor.ScopeSV.InsertScopeSupervisorServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DownloadServlet</servlet-name>
        <servlet-class>com.fyp.Download.DownloadProposalServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Form2Servlet</servlet-name>
        <servlet-class>com.fyp.Form.Form2Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Form3Servlet</servlet-name>
        <servlet-class>com.fyp.Form.Form3Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Form4Servlet</servlet-name>
        <servlet-class>com.fyp.Form.Form4Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Form5Servlet</servlet-name>
        <servlet-class>com.fyp.Form.Form5Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Form6Servlet</servlet-name>
        <servlet-class>com.fyp.Form.Form6Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Form7Servlet</servlet-name>
        <servlet-class>com.fyp.Form.Form7Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AgreementServlet</servlet-name>
        <servlet-class>com.fyp.Student.SubmitProposalSV.AgreementServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Form8Servlet</servlet-name>
        <servlet-class>com.fyp.Form.Form8Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SupervisorViewServlet</servlet-name>
        <servlet-class>com.fyp.Form.SupervisorViewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SupervisorProjectDetailsServlet</servlet-name>
        <servlet-class>com.fyp.Form.SupervisorProjectDetailsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateForm5Servlet</servlet-name>
        <servlet-class>com.fyp.Form.UpdateForm5Servlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Dashboard_LecturerServlet</servlet-name>
        <url-pattern>/Dashboard_LecturerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddLecturerDao</servlet-name>
        <url-pattern>/AddLecturerDao</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddLecturerDAO</servlet-name>
        <url-pattern>/AddLecturerDAO</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddLecturerServlet</servlet-name>
        <url-pattern>/AddLecturer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LecturerServlet</servlet-name>
        <url-pattern>/Students/Lecturer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProposalSvServlet</servlet-name>
        <url-pattern>/ProposalSvServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Scope</servlet-name>
        <url-pattern>/Scope</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Proposal</servlet-name>
        <url-pattern>/Proposal</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LecturerListDAO</servlet-name>
        <url-pattern>/LecturerListDAO</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LecturerListServlet</servlet-name>
        <url-pattern>/LecturerListServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LecturerDeleteServlet</servlet-name>
        <url-pattern>/deleteLecturer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditLecturerServlet</servlet-name>
        <url-pattern>/editLecturer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddScopeServlet</servlet-name>
        <url-pattern>/addScope</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateLecturerServlet</servlet-name>
        <url-pattern>/updateLecturer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddScopeDAO</servlet-name>
        <url-pattern>/AddScopeDAO</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListScopeServlet</servlet-name>
        <url-pattern>/ListScopeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertScopeServlet</servlet-name>
        <url-pattern>/insertScope</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditScopeForm</servlet-name>
        <url-pattern>/editScope</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExaminerServlet</servlet-name>
        <url-pattern>/ExaminerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExaminerListServlet</servlet-name>
        <url-pattern>/ExaminerListServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PastProject</servlet-name>
        <url-pattern>/PastProject</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowAddForm</servlet-name>
        <url-pattern>/addForm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListPastReport</servlet-name>
        <url-pattern>/ListPastReport</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddPastReportServlet</servlet-name>
        <url-pattern>/AddPastReportServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddPastReportDAO</servlet-name>
        <url-pattern>/AddPastReportDAO</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StudentDAO</servlet-name>
        <url-pattern>/StudentDAO</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StudentListServlet</servlet-name>
        <url-pattern>/StudentListServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>supervision</servlet-name>
        <url-pattern>/supervision</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Supervision</servlet-name>
        <url-pattern>/Supervision</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SupervisionDAO</servlet-name>
        <url-pattern>/SupervisionDAO</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SupervisionList</servlet-name>
        <url-pattern>/adminSupervision</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AcceptProposalServlet</servlet-name>
        <url-pattern>/AcceptProposalServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RejectProposalServlet</servlet-name>
        <url-pattern>/RejectProposalServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteProposalServlet</servlet-name>
        <url-pattern>/DeleteProposalServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StudentPastReportServlet</servlet-name>
        <url-pattern>/Students/StudentPastReportServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ScopeServlet</servlet-name>
        <url-pattern>/Students/ScopeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserProfileServlet</servlet-name>
        <url-pattern>/Admin/UserProfileServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewProposalServlet</servlet-name>
        <url-pattern>/Supervisor/ViewProposalServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PastReportServlet</servlet-name>
        <url-pattern>/Supervisor/PastReportServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ScopeSvServlet</servlet-name>
        <url-pattern>/Supervisor/ScopeSvServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowAddPastReport</servlet-name>
        <url-pattern>/Supervisor/ShowAddPastReport</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddPastRepostSupervisor</servlet-name>
        <url-pattern>/Supervisor/AddPastRepostSupervisor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowAddScopeFormSupervisor</servlet-name>
        <url-pattern>/Supervisor/ShowAddScopeForm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertScopeSupervisorServlet</servlet-name>
        <url-pattern>/Supervisor/InsertScopeSupervisorServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DownloadServlet</servlet-name>
        <url-pattern>/DownloadServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Form2Servlet</servlet-name>
        <url-pattern>/Form2Servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Form3Servlet</servlet-name>
        <url-pattern>/Form3Servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Form4Servlet</servlet-name>
        <url-pattern>/Form4Servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Form5Servlet</servlet-name>
        <url-pattern>/Form5Servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Form6Servlet</servlet-name>
        <url-pattern>/Form6Servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Form7Servlet</servlet-name>
        <url-pattern>/Form7Servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AgreementServlet</servlet-name>
        <url-pattern>/AgreementServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Form8Servlet</servlet-name>
        <url-pattern>/Form8Servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SupervisorViewServlet</servlet-name>
        <url-pattern>/SupervisorViewServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SupervisorProjectDetailsServlet</servlet-name>
        <url-pattern>/SupervisorProjectDetailsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateForm5Servlet</servlet-name>
        <url-pattern>/UpdateForm5Servlet</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>LoginID.jsp</welcome-file>
    </welcome-file-list>
</web-app>
